body { 
	background-color: white;
	color: black;
	font-family: Arial, sans-serif;
	font-size: small;
	margin: 5px;
}

a {	
	color: darkblue;
}

a:visited {	
	color: darkblue; 
}

.gwt-DialogBox {
	border: 2px solid #AAAAAA;
	background-color: white;
}

.gwt-DialogBox .Caption {
	background-image: url(gray_gradient.gif);
	background-repeat: repeat-x;
	padding: 4px;
	padding-bottom: 8px;
	font-weight: bold;
	cursor: default;
}

.gwt-MenuBar {
	background-color: #C3D9FF;
	cursor: default;
}

.gwt-MenuItem {
	font-size: 80%;
	margin: 1px;
	cursor: default;
}

.gwt-MenuItem-selected {
	background-color: #E8EEF7;
}

.gwt-Tree {
}

.gwt-Tree .gwt-TreeItem {
	font-size: 80%;
	cursor: default;
}

.gwt-Tree .gwt-TreeItem-selected {
	background-color: #C3D9FF;
}

.gwt-StackPanel {
	background-color: white;
	border: 1px solid #AAAAAA;
	width: 15em;
}

.gwt-StackPanel .gwt-StackPanelItem {
	background-image: url(blue_gradient.gif);
	background-repeat: repeat-x;
	background-color: #EEEEEE;
	cursor: pointer;
	cursor: hand;
}

.gwt-StackPanel .gwt-StackPanelItem-selected {
}

.gwt-TabPanel {
	
}

.gwt-TabPanelBottom {
	border-left: 1px solid #87b3ff;
	border-right: 1px solid #87b3ff;
	border-bottom: 1px solid #87b3ff;
}

.gwt-TabBar {
	font-size: smaller;
}

.gwt-TabBar .gwt-TabBarFirst {
	height: 100%;
	border-bottom: 1px solid #87b3ff;
	border-right: 1px solid #87b3ff;
	padding-left: 3px;
}

.gwt-TabBar .gwt-TabBarRest {
	border-bottom: 1px solid #87b3ff;
	padding-right: 3px;
}

.gwt-TabBar .gwt-TabBarItem {
	border-top: 1px solid #87b3ff;
	border-bottom: 1px solid #87b3ff;
	padding: 2px;
	cursor: hand;
	white-space: nowrap;
	border-right: 1px solid #87b3ff;
}

.gwt-TabBar .gwt-TabBarItem-selected {
	font-weight: bold;
	background-color: #e8eef7;
	border-top: 1px solid #87b3ff;
	border-right: 1px solid #87b3ff;
	border-bottom: 1px solid #e8eef7;
	padding: 2px;
	cursor: default;
	white-space: nowrap;
}

.gwt-PushButton-up {
  background-color: #C3D9FF;
  padding: 2px;
  border: 2px solid transparent;
  border-color: #E8F1FF rgb(157, 174, 205) rgb(157, 174, 205) rgb(232, 241, 255);
  cursor: pointer;
  cursor: hand;
}

.gwt-PushButton-up-hovering {
  background-color: #C3D9FF;
  padding: 2px;
  border: 2px solid transparent;
  border-color: #E8F1FF rgb(157, 174, 205) rgb(157, 174, 205) rgb(232, 241, 255);
  cursor: pointer;
  cursor: hand;
}

.gwt-PushButton-down {
  background-color: #C3D9FF;
  padding: 2px;
  border: 2px solid transparent;
  border-color: #9DAECD rgb(232, 241, 255) rgb(232, 241, 255) rgb(157, 174, 205);
  cursor: pointer;
  cursor: hand;
}

.gwt-PushButton-down-hovering {
  background-color: #C3D9FF;
  padding: 2px;
  border: 2px solid transparent;
  border-color: #9DAECD rgb(232, 241, 255) rgb(232, 241, 255) rgb(157, 174, 205);
  cursor: pointer;
  cursor: hand;
}

.gwt-ToggleButton-up {
  background-color: #C3D9FF;
  padding: 2px;
  border: 2px solid transparent;
  border-color: #E8F1FF rgb(157, 174, 205) rgb(157, 174, 205) rgb(232, 241, 255);
  cursor: pointer;
  cursor: hand;
}

.gwt-ToggleButton-up-hovering {
  background-color: #C3D9FF;
  padding: 2px;
  border: 2px solid transparent;
  border-color: #E8F1FF rgb(157, 174, 205) rgb(157, 174, 205) rgb(232, 241, 255);
  cursor: pointer;
  cursor: hand;
}

.gwt-ToggleButton-down {
  background-color: #C3D9FF;
  padding: 2px;
  background-color: #E8F1FF;
  border: 2px solid transparent;
  border-color: #9DAECD rgb(232, 241, 255) rgb(232, 241, 255) rgb(157, 174, 205);
  cursor: pointer;
  cursor: hand;
}

.gwt-ToggleButton-down-hovering {
  background-color: #C3D9FF;
  padding: 2px;
  background-color: #E8F1FF;
  border: 2px solid transparent;
  border-color: #9DAECD rgb(232, 241, 255) rgb(232, 241, 255) rgb(157, 174, 205);
  cursor: pointer;
  cursor: hand;
}

.gwt-RichTextArea {
  border: 1px solid black;
  background-color: white;
}

.gwt-RichTextToolbar {
  background-color: #C3D9FF;
  padding: 2px;
}

.gwt-RichTextToolbar .gwt-PushButton-up {
  margin-right: 2px;
  border: 1px solid #C3D9FF;
}

.gwt-RichTextToolbar .gwt-PushButton-up-hovering {
  margin-right: 2px;
  border: 1px solid #C3D9FF;
  border-color: #E8F1FF rgb(157, 174, 205) rgb(157, 174, 205) rgb(232, 241, 255);
}

.gwt-RichTextToolbar .gwt-PushButton-down {
  margin-right: 2px;
  border: 1px solid #C3D9FF;
  border-color: #9DAECD rgb(232, 241, 255) rgb(232, 241, 255) rgb(157, 174, 205);
}

.gwt-RichTextToolbar .gwt-PushButton-down-hovering {
  margin-right: 2px;
  border: 1px solid #C3D9FF;
  border-color: #9DAECD rgb(232, 241, 255) rgb(232, 241, 255) rgb(157, 174, 205);
}

.gwt-RichTextToolbar .gwt-ToggleButton-up {
  margin-right: 2px;
  border: 1px solid #C3D9FF;
}

.gwt-RichTextToolbar .gwt-ToggleButton-up-hovering {
  margin-right: 2px;
  border: 1px solid #C3D9FF;
  border-color: #E8F1FF rgb(157, 174, 205) rgb(157, 174, 205) rgb(232, 241, 255);
}

.gwt-RichTextToolbar .gwt-ToggleButton-down {
  margin-right: 2px;
  background-color: #E8F1FF;
  border: 1px solid #C3D9FF;
  border-color: #9DAECD rgb(232, 241, 255) rgb(232, 241, 255) rgb(157, 174, 205);
}

.gwt-RichTextToolbar .gwt-ToggleButton-down-hovering {
  margin-right: 2px;
  background-color: #E8F1FF;
  border: 1px solid #C3D9FF;
  border-color: #9DAECD rgb(232, 241, 255) rgb(232, 241, 255) rgb(157, 174, 205);
}

.gwt-HorizontalSplitPanel {
	border: 8px solid #C3D9FF;
}

.gwt-HorizontalSplitPanel .splitter {
	background-color: #C3D9FF;
	cursor: move;
}

.gwt-HorizontalSplitPanel .left {
  background-color: #E8EEF7;
}

.gwt-VerticalSplitPanel {
	border: 8px solid #C3D9FF;
}

.gwt-VerticalSplitPanel .splitter {
	background-color: #C3D9FF;
	height: 8px;
	cursor: move;
}

.gwt-SuggestBoxPopup {
	border: 2px solid #C3D9FF;
}

.gwt-SuggestBoxPopup .item {
	padding: 2px;
}

.gwt-SuggestBoxPopup .item-selected {
	background-color: #C3D9FF;
	padding: 2px;
}

.gwt-DisclosurePanel {
	border: 2px solid #C3D9FF;
}

.gwt-DisclosurePanel .header {
	background-color: #e8eef7;
	cursor: hand;
}

.gwt-SimplePanelMenuActive {
	
    display:block;
	float:left;
	width:160px;
	height:39px;
	background-position: left top;
	text-shadow:0.1em 0.1em 0.1em #f2f5f6;
	color: #42a7c1;
	margin: 0px;
	padding: 0px;
	font-size: 16px;
	font-family: Verdana, Geneva, sans-serif;
	font-weight: normal;
	line-height: 39px;
	text-align: center;
	background-repeat: repeat-x;
	background-image: url('images/tabsactive_1.jpg');
	cursor: pointer;
	
}

.gwt-SimplePanelMenuInactive {
	display:block;
	float:left;
	width:160px;
	height:39px;
	background-position: left top;
	text-shadow:0.1em 0.1em 0.1em dimgrey;
	color: snow;
	margin: 0px;
	padding: 0px;
	font-size: 16px;
	font-family: Verdana, Geneva, sans-serif;
	font-weight: normal;
	line-height: 39px;
	text-align: center;
	background-repeat: repeat-x;
	background-image: url('images/tabsnormal_1.jpg');
}
.gwt-PanelRounded1 {
 	-webkit-border-radius: 8px;-moz-border-radius: 8px;
	border-radius: 8px;
	background-color:#90CC00;
	-webkit-box-shadow: #B3B3B3 4px 4px 4px;
	-moz-box-shadow: #B3B3B3 4px 4px 4px;
	 box-shadow: #B3B3B3 4px 4px 4px;
	 
}
.gwt-Label-1 {
	color: white;
	font-size: 14px;
	font-family: sans-serif;
	font-weight: bold;
}
.gwt-Label-2 {
	color: black;
	font-size: 14px;
	font-family: sans-serif;
	font-weight: bold;
}
.gwt-PanelRounded2 {
	-webkit-border-radius: 8px;-moz-border-radius: 8px;
	border-radius: 8px;
	background-color:#BABABA;
	-webkit-box-shadow: #B3B3B3 4px 4px 4px;
	-moz-box-shadow: #B3B3B3 4px 4px 4px;
	 box-shadow: #B3B3B3 4px 4px 4px;
	 #90CC00
}
.gwt-PanelRounded3 {
	-webkit-border-radius: 8px;-moz-border-radius: 8px;
	-webkit-box-shadow: #B3B3B3 4px 4px 4px;
	-moz-box-shadow: #B3B3B3 4px 4px 4px;
	 box-shadow: #B3B3B3 4px 4px 4px;
	background-color: peachpuff;
}
.gwt-Label-3 {
	color: lightcoral;
	font-size: 14px;
	font-family: sans-serif;
	font-weight: bold;
}
.gwt-HorizontalPanelBanner {
	background-repeat: no-repeat;
	background-image: url('images/banner_bg.gif');
}
.gwt-HorizontalPanelMenu {
	background-repeat: no-repeat;
	background-image: url('images/menu_bg.gif');
}
.gwt-HorizontalPanelMiddle {

}
.gwt-LabelMenu {
	color: #558ed5;
	font-size: 18px;
	font-family: sans-serif;
	font-weight: bold;
}
.gwt-HorizontalPanelMiddleInner {
	padding: 0px 30px 30px;
	background-repeat: no-repeat;
	background-image: url('images/middle_inner_bg.gif');

}
.gwt-HorizontalPanelMiddleInner2 {
	padding: 20px;
	background-repeat: no-repeat;
	background-image: url('images/middle_inner2_bg.gif');

}
.gwt-VerticalPanelPhoto {
	padding-top: 20px;
}
.gwt-HorizontalPanelMiddleWords {
	padding-left: 20px;
}
.gwt-Label2 {
	color: white;
	font-size: 18px;
	font-family: sans-serif;
	font-weight: bold;

}
.gwt-TextBox1 {
	background:#FFF url('images/search.png') 8px 8px no-repeat;

	-o-border-radius:6px;
	-ms-border-radius:6px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	-o-box-shadow:inset 0px 1px 4px rgba(0,0,0,0.8);
	-ms-box-shadow:inset 0px 1px 4px rgba(0,0,0,0.8);
	-moz-box-shadow:inset 0px 1px 4px rgba(0,0,0,0.8);
	-webkit-box-shadow:inset 0px 1px 4px rgba(0,0,0,0.8);
	box-shadow:inset 0px 1px 4px rgba(0,0,0,0.8);
	
	color: dimgray;
	padding: 4px 4px 1px 4px;
	font-size: 16px;
	font-family: sans-serif;
	font-weight: normal;
}
.gwt-VerticalPanelMiddleRight {
	padding: 20px 30px 30px;
	background-repeat: no-repeat;
	background-image: url('images/middle_right_bg1.gif');
}
.gwt-SimplePanel1 {
	background-repeat: no-repeat;
	background-image: url('images/button_bg1.gif');

}
.gwt-Label3 {
	color: white;
	padding-top: 4px;
	font-size: 16px;
	font-family: sans-serif;
	font-weight: bold;
	vertical-align: middle;
	cursor: pointer;
}
.gwt-Label4 {
	color: #558ed5;
	font-size: 12px;
	font-family: sans-serif;
	font-weight: bold;
	text-decoration: underline;
}
.gwt-ButtonAdd {
  font-family: Arial;
  color: #ffffff;
  font-size: 14px;
  padding: 10px;
  text-decoration: none;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  text-shadow: 1px 1px 2px #666666;
  border: solid #006600 2px;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#00ff00), to(#00cca3));
  background: -moz-linear-gradient(top, #00ff00, #00cca3);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#00ff00, endColorStr=#00cca3);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#00ff00, endColorStr=#00cca3);
  display:inline-block; /* IE is so silly */
}
.gwt-ButtonAdd-rollover {
  background: #78ff42;
}
.gwt-ButtonAdd:hover {
  background: #78ff42;
}
.gwt-VerticalPanelFoodAdd {
	background-color: lightgrey;
}
.gwt-Label5 {
	color: #558ed5;
	font-size: 14px;
	font-family: sans-serif;
	font-weight: bold;
}
.gwt-HorizontalPanelFood2 {
	padding-left: 14px;
}
.gwt-HorizontalPanelFoodItem {
	border: thin solid powderblue;
	background-color: honeydew;
}
.gwt-HorizontalPanelFood3 {
	padding-left: 30px;

}
.gwt-Header1 {
	background-color: #D8ECF7;

}
.gwt-Label6 {
	color: #555;
	font-size: 12px;
	font-family: sans-serif;
	line-height: 18px;
	text-transform: capitalize;
}
.gwt-Label7 {
	color: black;
	font-size: 16px;
	font-family: Trebuchet MS, Arial;
	font-weight: 700;
	line-height: 2em;
}
.gwt-Label8 {
	color: #555;
	padding-bottom: 6px;
	font-size: 14px;
	font-family: Trebuchet MS, Arial;
	font-weight: 700;
	line-height: 18px;
}
.gwt-LabelServingItem {
	color: #555;
	padding-bottom: 2px;
	border-bottom: thin solid cornflowerblue;
	font-size: 12px;
	cursor: pointer;
	
}
.gwt-LabelServingItemSelected {
	color: #E45B00;
	font-size: 12px;
	cursor: pointer;
		padding-bottom: 2px;
	border-bottom: thin solid cornflowerblue;
	
}
.gwt-HorizontalPanelFoodItem2 {
	-webkit-border-radius: 20px;-moz-border-radius: 20px;
	border-radius: 20px;
	background-color:#72A6E3;
	-webkit-box-shadow: #B3B3B3 4px 4px 4px;
	-moz-box-shadow: #B3B3B3 4px 4px 4px; 
	box-shadow: #B3B3B3 4px 4px 4px;
}
.gwt-Button1 {
font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px;
  text-decoration: none;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  text-shadow: 1px 1px 3px #666666;
  border: solid #003366 2px;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#42aaff), to(#003366));
  background: -moz-linear-gradient(top, #42aaff, #003366);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#42aaff, endColorStr=#003366);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#42aaff, endColorStr=#003366);
  display:inline-block; /* IE is so silly */
}
.gwt-Button1:hover {
  background: #42aaff;
}
.gwt-VerticalPanelFoodAdd1 {
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-box-shadow: #B3B3B3 4px 4px 4px;
	-moz-box-shadow: #B3B3B3 4px 4px 4px; 
	box-shadow: #B3B3B3 4px 4px 4px;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #e0fffa;

}
.gwt-ScrollPanel-1 {
	padding-bottom: 30px;

}
.gwt-VerticalPanelFoodAdd2 {
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-box-shadow: #B3B3B3 4px 4px 4px;
	-moz-box-shadow: #B3B3B3 4px 4px 4px; 
	box-shadow: #B3B3B3 4px 4px 4px;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #9cdafb;


}
.gwt-VerticalPanelFoodAdd3 {

	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-box-shadow: #B3B3B3 4px 4px 4px;
	-moz-box-shadow: #B3B3B3 4px 4px 4px; 
	box-shadow: #B3B3B3 4px 4px 4px;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #ffd1d7;


}

